html, body {
    height: 87vh;
    min-height: 87vh !important;
    background-color: rgb(36, 36, 36);

    @media (min-width: 400px) {
        height: 100vh;
        min-height: 100vh !important;
    }
}

#root {
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}